@import url('https://fonts.googleapis.com/css2?family=Abel&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Jersey+25&family=Outfit:wght@100..900&display=swap');
.all {
  width: 90vw;
  padding: 50px;
  display: flex;
  justify-content: space-around;
}
body {
  display: flex;
  background-color: #f3f4f6;
}
.cv {
  width: 900px;
  background-color: white;
  box-shadow: 1px 1px 10px #7f8081;
}
.top {
  background-color: #0e1c3a;
  color: white;
  text-align: center;
  padding: 20px;
}
img {
  width: 30px;
  height: auto;
}
.personal {
  display: flex;
  justify-content: space-around;
}
.nm {
  margin-bottom: 20px;
  font-size: 40px;
  font-weight: 500;
  font-family: 'Outfit', sans-serif;
}
.cont {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.dt{
  font-size: 20px;
  font-family: 'Outfit', sans-serif;
}
.right{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.btn{
  width: 150px;
  border-radius: 20px;
}
.btns{
  display: flex;
  gap: 20px;
  background-color: white;
  padding: 20px;
  border-radius: 50px;
  background-color: #0e1c3a;
  transition: transform 0.7s;
  justify-self:flex-start;
}
.act{
  transform: scale(0.8);
}
.education{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.txt{
  align-self: center;
  text-align: center;
  font-size: 30px;
  width: 750px;
  font-weight: 600;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #e3e3e4;
  padding: 10px;
  border-radius: 20px;
  margin-top: 20px;
  color: #0e1c3a;
}
.einfo{
  margin-left: 20px;
  display: flex;
  gap: 40px;
  align-items: center;
}
.right_one{
  font-size: 20px;
  font-weight: 500;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.uname{
  font-size: 30px;
  font-weight: 600;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #0e1c3a;
}
.left_one{
  font-size: 22px;
  font-weight: 500;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #0e1c3a;
}
.dis{
  font-size: 15px;
  font-weight: 500;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
